@import "normalize.css";

:root {
    --color-bg-primary: #1f1f1f;
    --color-text-primary: white;
    --color-beat: yellow;
    --color-beat-accent: orange;
    --color-btn-primary: green;
    --font: Arial, Helvetica, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    background: var(--color-bg-primary);
    color: var(--color-text-primary);
    font-family: var(--font);
}

.logo {
    height: 130px;
    width: auto;
}

.app {
    display: flex;
    width: 50%;
    margin: auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}

.top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.tap {
    background: var(--color-btn-primary);
    padding: 2rem;
    border-radius: 1rem;
}

.bpm-circle {
    background: var(--color-btn-primary);
    padding: 0.5rem;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 12rem;
    aspect-ratio: 1/1;
}

.time-signature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.numerator{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.denominator{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.beats-section {
    width: 100%;
}

.beats {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.beat {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    background: var(--color-beat);
}

.beat--accent {
    background: var(--color-beat-accent);
}

.beat--selected {
    border: 0.5rem solid red;
}

.tempo-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider-container {
    width: 60%;
}

.slider-container input{
    width: 100%;
}

.start-stop {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 2rem;
}

.btn-primary {
    background: var(--color-btn-primary);
    color: var(--color-text-primary);
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
}